<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                        class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a class="navbar-brand" href="../index.html">
                    <img src="../assets/img/Aquarium_logo.jpg" alt="Techro HTML5 template"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right mainNav">
                    <li><a href="../index.html">HOME</a></li>
                    <li class="active"><a href="about.html">ABOUT</a></li>
                    <li><a href="News.html">NEWS</a></li>
                    <li><a href="Event.html">EVENT</a></li>
                    <li><a href="library.html">LIBRARY</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                    <!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="sidebar-right.html">Right Sidebar</a></li>
                            <li><a href="#">Dummy Link1</a></li>
                            <li><a href="#">Dummy Link2</a></li>
                            <li><a href="#">Dummy Link3</a></li>
                        </ul>
                    </li> -->

                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <!-- /.navbar -->

    <header id="head" class="secondary">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1>About us</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- container -->
    <section class="container">
        <div class="row">
            <!-- main content -->
            <section class="col-sm-8 maincontent">
                <h3>Introduction to Aquarium</h3>
                <br>
                <br>
                <p>Aquarium is one of the great tourist sites. Confirmed to be the largest aquarium in the world, this
                    place is the "home" of thousands of rare marine creatures. Join us to discover interesting things in
                    the aquarium right now.</p>
                <img src="../assets/img/thuy-cung.jpg" alt="" class="img-rounded pull-right">
                <p>Aquarium opened in November 2016, is the largest artificial aquarium in the world. When you come
                    here, you will admire the beautiful ocean world with 100,000 marine creatures of 800 different
                    species and 20,000 species of colorful corals. In addition, the aquarium in Singapore also has the
                    longest lazy river in the world, about 620 meters long.</p>
                <img src="../assets/img/about.jpg" alt="" class="img-rounded pull-right">
                <p>Aquarium Aquarium has 10 artificial ocean zones designed to simulate 49 different seas in the world
                    such as Southeast Asia, Karimata Strait, Java Sea, Malacca Strait, Belgan Bay, Red Sea and other
                    regions. distant sea and other interesting.</p>
            </section>
            <aside class="col-sm-4 sidebar sidebar-right">

                <div class="panel">
                    <h4>Latest News</h4>
                    <ul class="list-unstyled list-spaces">
                        <li><a href=""> Penguins roam in the aquarium</a><br>
                            <span class="small text-muted">An aquarium in Yokohama shared animal encounters to entertain
                                the public during a blockade because of Covid-19. An aquarium in Yokohama shares animal
                                encounters with each other to entertain the public ...</span></li>
                        <li><a href=""> Aquarium chemistry park in the summer</a><br>
                            <span class="small text-muted">Green Lake is a normal park from fall to spring, but in the
                                summer it is completely submerged ...</span></li>
                        <li><a href="">Gay penguins become parents</a><br>
                            <span class="small text-muted">ETwo male penguins at the Sydney aquarium, Australia,
                                successfully hatched the adopted egg and take turns taking care of the young bird
                                ...</span></li>
                        <li><a href="">Beautiful and mysterious creatures of the White Sea</a><br>
                            <span class="small text-muted">Coming to the sea in the Bahamas, America or Mexico,
                                adventurous tourists will have the opportunity to encounter the most dangerous species
                                in the ocean - sharks ...</span></li>
                    </ul>
                    <h4>Event</h4>
                    <ul class="list-unstyled list-spaces">
                        <li><a href="event_detail.html">"BANQUET AQUARIUM" - THE AQUARIUM PARTY OF SUMMER 2019
                                !!</a><br>
                            <span class="small text-muted">Be amazed in the mysterious and colorful ocean space of the
                                aquarium parade with the participation of international artists from: Russia, Belarus,
                                Ukraine, Colombia ... ....</span></li>
                        <li><a href="event_detail.html">"BANQUET AQUARIUM" - THE AQUARIUM PARTY OF SUMMER 2019
                                !!</a><br>
                            <span class="small text-muted">Be amazed in the mysterious and colorful ocean space of the
                                aquarium parade with the participation of international artists from: Russia, Belarus,
                                Ukraine, Colombia ... ....</span></li>

                    </ul>
                </div>

            </aside>


        </div>
    </section>
    <!-- /container -->
    <footer id="footer">
        <div class="container">
            <div class="social text-center">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-flickr"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
            </div>

            <div class="clear"></div>
            <!--CLEAR FLOATS-->
        </div>
        <div class="footer2">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 panel">
                        <div class="panel-body">
                            <p class="simplenav">
                                <a href="../index.html">HOME</a>|
                                <a href="about.html">ABOUT</a>|
                                <a href="News.html">NEWS</a>|
                                <a href="Event.html">EVENT</a>|
                                <a href="library.html">LIBRARY</a>|
                                <a href="contact.html">CONTACT</a>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 panel">
                        <div class="panel-body">
                            <p class="text-right">
                                Copyright © 2014. Template by <a href="http://aquarium.com/"
                                    rel="develop">Aquarium.com</a>
                            </p>
                        </div>
                    </div>

                </div>
                <!-- /row of panels -->
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../assets/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>


</body>



</html>