<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                        class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a class="navbar-brand" href="index.html">
                    <img src="../assets/img/Aquarium_logo.jpg" alt="Techro HTML5 template"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right mainNav">
                    <li><a href="../index.html">HOME</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                    <li><a href="News.html">NEWS</a></li>
                    <li><a href="Event.html">EVENT</a></li>
                    <li class="active"><a href="library.html">LIBRARY</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <header id="head" class="secondary">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1>Detail</h1>
                </div>
            </div>
        </div>
    </header>


    <div class="container">
        <div class="row">
            <article class="col-sm-4 isotopeItem webdesign">

                <img src="../assets/img/Datile_1.jpg" alt="">
            </article>

            <div class="col-md-8">
                <h2>DETAIL</h2>
                <div class=" col-md-9 col-lg-9 ">
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <td>Name:</td>
                                <td>Dolphin</td>
                            </tr>
                            <tr>
                                <td>Species:</td>
                                <td>Dimorphism, Aquatic mammals</td>
                            </tr>
                            <tr>
                                <td>Size:</td>
                                <td>Dolphins range in size from the 1.7-metre-long (5 ft 7 in) long and 50-kilogram
                                    (110-pound) Maui's dolphin to the 9.5 m (31 ft 2 in) and 10-tonne (11-short-ton)
                                    killer whale</td>
                            </tr>

                            <tr>
                                <td>Speeds:</td>
                                <td>Speed up to 50km/h</td>
                            </tr>
                            <tr>
                                <td>Food:</td>
                                <td>Fish and squid</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer">
        <div class="container">
            <div class="social text-center">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-flickr"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
            </div>

            <div class="clear"></div>
            <!--CLEAR FLOATS-->
        </div>
        <div class="footer2">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 panel">
                        <div class="panel-body">
                            <p class="simplenav">
                                <a href="../index.html">HOME</a>|
                                <a href="about.html">ABOUT</a>|
                                <a href="News.html">NEWS</a>|
                                <a href="Event.html">EVENT</a>|
                                <a href="library.html">LIBRARY</a>|
                                <a href="contact.html">CONTACT</a>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 panel">
                        <div class="panel-body">
                            <p class="text-right">
                                Copyright © 2014. Template by <a href="http://aquarium.com/"
                                    rel="develop">Aquarium.com</a>
                            </p>
                        </div>
                    </div>

                </div>
                <!-- /row of panels -->
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../assets/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
</body>

</html>